<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home Page: Crestron Web Scripting OAuth Client</title>
</head>
<body>
  <h1>Crestron Web Scripting OAuth Client</h1>
    <a href="Register"><button>Register Client with Auth0</button></a>
    <br /><br />
    <a href="Authorize"><button {@enable}>Request Access/Refresh Tokens</button></a>
    <br /><br />
    <a href="Test"><button {@enable}>Test</button></a>
    <br /><br />
    <a href="ForgetAccess"><button {@enable-forget-access}>Forget Access Token</button></a>
    <br /><br />
    <a href="ForgetRefresh"><button {@enable-forget-refresh}>Forget Refresh Token</button></a>
</body>
</html>
